<h1>Reports</h1>

<% @reports.each do |report| %>
    <%= link_to report_path(report), class: 'report' do%>
    <h2><%=report.title%></h2>

    <p><%=report.description%></p>

    <div id="sensorData">
     <p><small> <%=report.sensor_id%> <%=report.sensor_name%> de tipo:"<%= report.sensor_type%> " </small></p> 
    </div>
  <% end %>
<% end %>


<%= Date.today %>
