<h1>Reports</h1>

<% @reports.each do |report| %>

    <h2><%=report.title%></h2>

    <p><%=report.description%></p>

    <div id="sensorData">
     <p><small> <%=report.sensor_id%> <%=report.sensor_name%> de tipo:"<%= report.sensor_type%> " </small></p> 
    </div>

    <div id="wysiwyg">
     <p><%=report.template%></p>
    </div>
<% end %>


<%= Date.today %>