<h2>Añadir producto</h2>

<%= form_for @report do |form| %>
  <% @report.errors.full_messages.each do |error| %>
   <div>
     <%= error %>
   </div>
 <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :template%>
    <%= form.text_area :template %>
  </div>

  <div>
    <%= form.label :sensor_type %>
    <%= form.text_field :sensor_type %>
    <%= form.label :sensor_id %>
    <%= form.number_field :sensor_id %>
    <%= form.label :sensor_name %>
    <%= form.text_field :sensor_name %>

  <%= form.submit %>
<% end %>
