<!DOCTYPE html>
<html>
  <head>
    <title>Redboder Reports | Informes Avanzados</title>
    <%= csrf_meta_tags %>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/flash' %>
    <div class="main">
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
      <%= Date.today %>
  </body>
</html>
